@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.otf');
}
@font-face {
    font-family: 'Inter Bold';
    src: url('Inter-Bold.otf');
}
@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.ttf');
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.ttf');
}

.header-text {
    -fx-font-size: 48px !important;
    -fx-font-family: "Fredoka One", sans-serif;
}

.required-symbol {
    -fx-font-size: 24px;
    -fx-fill: red;
}

.button {
    -fx-font-size: 32px;
}
.delivery-screen .tab-header-background {
    -fx-background-color: transparent;
}

.delivery-screen .tab-header-area {
    -fx-padding: -1;
}

.delivery-screen .tab-header-area .tab{
    -fx-min-width:150;
    -fx-pref-width:150;
    -fx-max-width:150;
    -fx-min-height: 120;
    -fx-pref-height: 120;
    -fx-max-height: 120;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}

.delivery-screen .tab-pane > .tab-header-area > .headers-region > .tab > .tab-container {
    -fx-min-width:150;
    -fx-pref-width:150;
    -fx-max-width:150;
}

.navbar-link {
    -fx-font-family: 'Inter' !important;
    -fx-background-color: transparent;
}

.delivery-screen .tab {
    -fx-background-color: white;
    -fx-border-width: 0.5;
    -fx-border-color: grey;
}

.delivery-screen .tab:selected {
    -fx-background-color: #FAB005;
    -fx-font-weight: bold;
}

.toggle-button {
    -fx-pref-height: 113;
    -fx-pref-width: 350;
}

.toggle-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 24px;
}

.toggle-button:focused,
.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-background-color: #FAB005;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.delivery-screen .tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.delivery-screen .tab:selected .tab-label {
    -fx-text-fill: white;
}

.delivery-screen .tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-min-width:140;
    -fx-pref-width:140;
    -fx-max-width:140;
    -fx-font-size: 24px;
    -fx-padding: -15 0 0 0;
}

.error {
    -fx-border-width: 2;
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
    -fx-text-fill: red;
    -fx-prompt-text-fill: rgba(255,0,0,0.3);
}

.form-input {
    -fx-font-size: 24px;
    -fx-padding: 0 0 0 16px;
    -fx-prompt-text-fill: #868E96;
    -fx-border-radius: 8px;
}

.text-large {
    -fx-font-size: 48;
    -fx-font-weight: bold;
    -fx-font-family: Inter;
}

.text-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: #495057;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.back-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: #495057;
}

.progress-bar, .progress-circle {
    -fx-fill: #C5C5C5;
    -fx-stroke-width: 0;
}

.progress-circle.active, .progress-bar.active {
    -fx-fill: #40C057;
}

.progress-number {
    -fx-font-family: Inter;
}

.progress-label {
    -fx-font-family: Inter;
    -fx-font-size: 28px;
    -fx-text-fill: #8E8E8E;
}

.progress-label.active {
    -fx-font-size: 28px;
    -fx-text-fill: #000000;
}

.progress-number {
    -fx-font-size: 24px;
    -fx-text-fill: #8E8E8E;
    -fx-font-weight: bold;
}

.progress-number.active {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.form-text {
    -fx-font-size: 32px;
    -fx-text-fill: #495057;
    -fx-font-family: Inter;
}

.error-text {
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-fill: red;
}

.blank-button {
    -fx-background-color: transparent;
    -fx-text-fill: #495057;
    -fx-border-color: #495057;
    -fx-border-radius: 4px;
}

.green-button {
    -fx-background-color: #40C057;
    -fx-text-fill: #FFFFFF;
}

Button:hover, Button:pressed {
    -fx-cursor: hand;
}

.green-button:hover {
    -fx-background-color: #2f9e44;
}

.green-button:pressed {
    -fx-background-color: #2b8a3e;
}

.blank-button:hover {
    -fx-background-color: rgba(33, 37, 41, 0.1);
}

.blank-button:pressed {
    -fx-background-color: rgba(33, 37, 41, 0.2);
}

.text-small {
    -fx-font-family: Inter;
    -fx-font-size: 24px;
}

.cartButton {
    -fx-background-color: #FFF;
    -fx-background-radius: 1000px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0, 0, 4);
}

.cartButton:hover {
    -fx-background-color: #dee2e6;
    -fx-cursor: hand;
}

.cartButton:pressed {
    -fx-background-color: #ced4da;
    -fx-cursor: hand;
}

.text-medium {
    -fx-font-size: 32px;
    -fx-font-family: Inter;
}

.tab-pane .text {
    -fx-font-family: Inter;
}

.delivery-pane, .delivery-time {
    -fx-background-color: white;
}

.text-small.white {
    -fx-fill: #FFFFFF;
}

.text-medium.active {
    -fx-font-weight: bold;
}

.grid Line {
    -fx-stroke: #495057;
}

.bold {
    -fx-font-weight: bold;
}

AnchorPane {
    -fx-background-color: #E9ECEF;
}

.text-medium.white {
    -fx-fill: #FFFFFF;
}

.delivery-time.active {
    -fx-background-color: #FAB005;
}

.delivery-pane.active {
    -fx-background-color: #FAB005;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* CHRISTIAN CSS */

.flowPaneColor{
    -fx-background-color: #E9ECEF;
}

.higherButton{
    -fx-background-color: #0dbb29;
    -fx-cursor: hand;
    -fx-border-radius: 0.0;
    -fx-background-radius: 0.0;
}

.higherButton:hover{
    /*-fx-background-color: #027814;*/
}

.higherButton:pressed{
   /* -fx-background-color: #065d13;*/
}

.lowerButton{
    -fx-background-color: #e4dfdf;
    /*-fx-background-color: #F03E3E;*/
    -fx-cursor: hand;
    -fx-border-radius: 0.0;
    -fx-background-radius: 0.0;
}

.lowerButton:hover{
    /*-fx-background-color: #a11414;*/

}

.lowerButton:pressed{
    /*-fx-background-color: #5a0e0e;	*/
}

.plusMinusButton:hover > .higherButton{
    /*-fx-fill: #0dbb29;*/
}

.searchBar{
    -fx-border-radius: 10.0;
    -fx-background-radius: 10.0;
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
}

.navbar{
    -fx-background-color: #FCFCFC;
}

.navbar-text{
    -fx-font-family: "Fredoka One";
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.navbar-search{

}

.menuItem{
    -fx-border-width: 0.0 0.0 1.0px 0.0;
    -fx-border-color: #adb5bd;
    -fx-font-size: 24.0;
    /* -fx-border-radius: 1.0px;*/
}

.menuItem:hover {
    -fx-background-color: #dee2e6;
    -fx-cursor: hand;
}

.menuItem:pressed {
    -fx-background-color: #ced4da;
    -fx-cursor: hand;
}

.text{
    -fx-font-size: 28px;
}

.ProductItem{
    -fx-background-color: #E9ECEF;
}

.ProductItem:hover{
    -fx-background-color: #E9ECEF;
}

.scrollPane {
    -fx-background-color: transparent;
}

.anchorWhite{
    -fx-background-color: #E9ECEF;
}

.welcome {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 48.0;
}

.under-welcome{
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
    -fx-text-align: center;
}

.bestPrice {
    -fx-fill: white;
    -fx-font-family: Bebas Neue;
    -fx-font-weight: bold;
    -fx-font-size: 28.0;
    -fx-alignment: Center;
}

.clear-from-cart:hover, .clear-from-cart:pressed {
    -fx-cursor: hand;
}

.productName{
    -fx-font-family: "Inter";
    -fx-font-size: 30.0;
    -fx-font-weight: NORMAL;
}

.productPrice{
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
    -fx-font-weight: NORMAL;
}

.productBought{
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
}

.closeButtonProduct{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.nameProduct{
    -fx-font-family: "Inter Bold";
    -fx-font-size: 32.0;
    -fx-alignment: BASELINE_RIGHT;
}

.priceProduct{
    -fx-font-family: "Inter Bold";
    -fx-font-size: 32.0;
    -fx-alignment: BASELINE_RIGHT;
}

.boughtProduct{
    -fx-font-family: "Inter";
    -fx-font-size: 32.0;
    -fx-border: none;
    -fx-background-color: #E9ECEF;
    -fx-border-radius: 0.0;
    -fx-background-radius: 0.0;
    -fx-border: 0.0;
}

.text-normal {
    -fx-font-family: Inter;
}

.text-field, .button, .label {
    -fx-font-family: Inter;
}

.imat-logo{
    -fx-font-size: 48.0;
    -fx-font-family: 'Fredoka One';
    -fx-fill: #FFFFFF;
    -fx-cursor: hand;

}

.labelOther{
    -fx-font-family: "Inter";
    -fx-font-size: 28.0;
    -fx-font-weight: bold;
}

.textOther{
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
}

.anchorProductView{
    -fx-background-color: white;
}

.ProductAnchor{
    -fx-background-color: rgba(100.0, 100.0, 100.0, 0.6);
}

.amountProduct{
    -fx-font-family: "Inter";
    -fx-font-size: 28.0;
}

.ProductItemAnchor{
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0, 0, 4);
    -fx-background-radius: 4px;
}

.boughtField{
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
    -fx-background-color: #E9ECEF;
    -fx-border-radius: 0.0;
    -fx-background-radius: 0.0;
    -fx-border: 0.0;

}

.tab1, .tab2, .tab3{
    -fx-border: none;
    -fx-pref-width: 230.0;
    -fx-pref-height: 70.0;
    -fx-padding: 0.0;
    -fx-margin: 0.0;
    -fx-background-color: #e9ecef;
}

.tab1:hover, .tab2:hover, .tab3:hover{
    -fx-cursor: hand;
}

.anchorProductView .tab-pane > .tab-header-area > .headers-region {
    -fx-background-color: #e9ecef;
    -fx-padding: 0.0;
}

.tab-down-button {
    -fx-padding: 0.0;
}

.tab-down-button .arrow {
    -fx-padding: 0.0;
}

.anchorProductView .tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 230.0;
    -fx-pref-height: 90.0;
    -fx-padding: -15.0 0.0 -15.0 0.0;
    -fx-margin: 0.0;
    -fx-font-family: "Inter";
    -fx-font-size: 24.0;
}

.anchorProductView .tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.anchorProductView .tab-pane .tab:selected {
    -fx-background-color: #ADB5BD;
}

.anchorProductView .tab-header-area {
    -fx-padding: 0.0;
}

.add-button{

    -fx-background-color: #40C057;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;

}

.logout-button:hover, .logout-button:pressed {
    -fx-cursor: hand;
}

.background-item{

    -fx-outer-border: black;
    -fx-body-color: #FFFFFF;
    -fx-background-color:
            -fx-outer-border,
            -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0px, 0px;

}

.background-item > .label {
    -fx-font-size: 20px;
}